

form input{ 
    
    background-color: #FAE5D3;
    border-radius: 5px;
    border: 0;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    margin: 10px 10px;
}

form h1{
    text-align: center;
    color: #AF601A;
}