


li{
    font-size: 2rem;
}
a{
    color: white;
    text-decoration: none;
    
}

.main-head{
    background: #FAE5D3;
}
nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding:2rem;
    justify-content: space-around;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
li a{
    color: #AF601A;
}
li a:hover {
    background-color: #88b06a;
}

