ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAE5D3;    
}
  
li{
    float: left;
   
}
  
li a {
    display: block;
    color: #AF601A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #88b06a;
}

