@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;

}

html{ 
    font-size: 62.5%;
}

body{

    background-size: cover;
    display: block;   
}
/* --------------------------------------------- Header -----------------------------------------------------------------------*/
nav p {
    color: white;
    font-size: 20px;
}

.main-head{
    background: #FAE5D3;
    
}

.main-head img{
    width: 80px;
    border-radius: 10px;
}

li{
    font-size: 2rem;
}
a{
    text-decoration: none;
}

nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding:2rem;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
li a{
    color: #AF601A;
}
li a:hover {
    background-color: #88b06a;
}
/* -----------------------------------fin du Header--------------------------------------------------*/
h1{
    padding-top: 7%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #AF601A;
}
/*-----------------------------------transition images---------------------------*/


.carre-img{
    padding-top: 4%;
    padding-bottom: 4%;
    position:relative;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    
}

.carre-img .box{
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    transition:0.5s;

}
.carre-img .box:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,.5) ;
}
.carre-img .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carre-img .box .imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}


.carre-img .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.carre-img .box .content{
    position: absolute;
    top:0 ;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;

}
.carre-img .box .content h2{
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}
.carre-img .box:hover .content h2{
    transform: translateY(0);
    transition-delay: 0.2s;
}

.carre-img .box .content p{
color: #fff;
transform: translateY(200px);
transition: 0.5s;
font-size: 14px;
}
.carre-img .box:hover .content p{
    transform: translateY(0);
    transition-delay: 0.3s;
}
