*,*::before,*:hover{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;

}

html{ 
    font-size: 62.5%;
}

body{

    background-size: cover;
    display: block;   
}

li{
    font-size: 2rem;
}
a{
    color: white;
    text-decoration: none;
    
}
/* --------------------------------------------- Header -----------------------------------------------------------------------*/

.main-head{
    background: #FAE5D3;
}
nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding:2rem;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
li a{
    color: #AF601A;
}
li a:hover {
    background-color: #88b06a;
}

